@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Bangers&family=Jost:wght@400;500;600&family=Nunito:wght@400;500&family=Outfit:wght@400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
}
.App {
  background: rgb(20, 27, 45);
  min-height: 100vh;
  color: white;
}

header {
  padding: 30px;
}
